.header__lang-link {
  color: inherit;
  font-size: 24px;
  text-decoration: none;
  opacity: 1;
  transition: opacity .2s ease;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .header__lang-link {
    font-size: 18px;
  }
}
